
<div class="getData">
  <span>Стелажи: </span><input type="text" value="2" min="1" placeholder="Введите число стелажей" #racks><br>
  <span>Полки: </span><input type="text" value="3"  min="1" placeholder="Введите число полок" #shalfs><br>
  <span>Ячейки: </span><input type="text" value="7"  min="1" placeholder="Введите число ячеек"  #cells><br>
  <button (click)="getData(racks.value, shalfs.value, cells.value )">Создать</button>
</div>

<app-shelfs  [viewRacks]="itog" class="arrRacks" > </app-shelfs>
